body{
  background-color: white;
  padding: 0px;
  font-family: "Arial", Verdana, sans-serif;
  }
.wrap{
  background-color: #0F0F0F;
  width: 80%;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.header{
  background-image: url("../img/turboanim.gif");
  width: 615px;
  height: 150px;
  margin: auto;
}
.menu{
  background-color: #323232;
  width: 80%;
}
.sidebar{
  background-color:  #323232;
  float: right;
  width: 20%;
}
.text{
  padding:10px;
  font-family: sans-serif;
}

.sidebarcontent{
  padding:10px;
}
aside ul{
  padding: 10px;
  list-style:none;
}
text,aside{
  height: auto;
}
h1{
  padding: 10px;
  text-align: center;
  text-shadow: 8px 10px 4px red;
  text-shadow: 4px 4px 4px red;
  font-size: 100px;
  font-family: 'Lobster', serif;
  color:white;
}
footer{
  padding:10px;
  text-align: center;
  font-size: 10px;
}
.text ul{
  padding:10px;
  list-style: none;
}
.text li{
  display: inline;
  padding-right:10px;
}
a{
  text-decoration: none;
  font-family: sans-serif;

}
.text a{
    color: white;
    font-weight: bolder;
    text-indent: 5px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-IN; /*Safari & Chrome*/
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in; /* Firefox 4 */
    -o-transition: all 0.3s ease-in; /* Opera */
    text-decoration:none;
    color:white;
}
.text a:hover{
    color:red;
}
